module-name: eventing
rc-tag: 0.0.0
protecode:
  - europe-docker.pkg.dev/kyma-project/prod/eventing-manager:v20231207-c940762f
  - europe-docker.pkg.dev/kyma-project/prod/event-publisher-proxy:v20231025-3f5d1600
  - europe-docker.pkg.dev/kyma-project/prod/eventing-webhook-certificates:1.7.0
whitesource:
  language: golang-mod
  subprojects: false
  exclude:
    - "**/test/**"
    - "**/*_test.go"
    - "/hack/**"
