module-name: eventing
protecode:
  - europe-docker.pkg.dev/kyma-project/prod/eventing-manager:v20231025-b3a0f12f
  - europe-docker.pkg.dev/kyma-project/prod/event-publisher-proxy:v20231018-69698634
  - europe-docker.pkg.dev/kyma-project/prod/eventing-webhook-certificates:1.7.0
whitesource:
  language: golang-mod
  subprojects: false
  exclude:
    - "**/test/**"
    - "**/*_test.go"
    - "/hack/**"
