module-name: eventing
rc-tag: 1.1.0
protecode:
  - europe-docker.pkg.dev/kyma-project/prod/eventing-manager:1.1.0
  - europe-docker.pkg.dev/kyma-project/prod/eventing-publisher-proxy:1.0.1
  - europe-docker.pkg.dev/kyma-project/prod/eventing-webhook-certificates:1.7.0
whitesource:
  language: golang-mod
  subprojects: false
  exclude:
    - "**/test/**"
    - "**/*_test.go"
    - "/hack/**"
