configMapGenerator:
  - name: eventings.operator.kyma-project.io
    namespace: kyma-system
    files:
      - general
      - form
      - list
      - details
    options:
      disableNameSuffixHash: true
      labels:
        app.kubernetes.io/created-by: eventing-manager
        app.kubernetes.io/name: eventings.operator.kyma-project.io
        busola.io/extension: resource
        busola.io/extension-version: "0.5"
