name: "Create release"

on:
  workflow_dispatch:

jobs:
  verify-release:
    name: Verify release
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.gen-version.outputs.VERSION }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Generate version number
        id: gen-version
        run: |
          # get script
          GET_VERSION=$(mktemp /tmp/get-version-from-branch.XXXXX)
          curl -L https://raw.githubusercontent.com/kyma-project/eventing-tools/main/hack/scripts/get-version-from-branch.sh -o "${GET_VERSION}"
          chmod +x "${GET_VERSION}"
          # get version via script
          VERSION=$("${GET_VERSION}")
          # push version to output environment file
          echo "VERSION=${VERSION}" >> $GITHUB_OUTPUT

      - name: Check image Tag
        env:
          VERSION: ${{ steps.gen-version.outputs.VERSION }}
        run: ./scripts/check_sec-scanners-config.sh $VERSION

  create-draft:
    name: Create draft release
    needs: verify-release
    runs-on: ubuntu-latest
    env:
      VERSION: ${{ needs.verify-release.outputs.VERSION }}
    outputs:
      release_id: ${{ steps.create-draft.outputs.release_id }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Create changelog
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./scripts/create_changelog.sh $VERSION

      - name: Create draft release
        id: create-draft
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          RELEASE_ID=$(./scripts/create_draft_release.sh $VERSION)
          echo "release_id=$RELEASE_ID" >> $GITHUB_OUTPUT

      - name: Create lightweight tag
        run: |
          git tag $VERSION
          git push origin $VERSION

      - name: Verify job status
        run: ./scripts/verify-status.sh ${{ github.ref_name }} 600 10 30

      - name: Create and upload eventing-manager.yaml and eventing-default-cr.yaml
        env:
          PULL_BASE_REF: $VERSION
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          IMG: "europe-docker.pkg.dev/kyma-project/prod/eventing-manager:${VERSION}"
          MODULE_REGISTRY: "europe-docker.pkg.dev/kyma-project/prod/unsigned"
          KUSTOMIZE_VERSION: "v4.5.6"
        run: |
          ./scripts/render_and_upload_manifests.sh

  publish-release:
    name: Publish release
    needs: [verify-release, create-draft]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Publish release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./scripts/publish_release.sh ${{ needs.create-draft.outputs.release_id }}
