name: Upgrade Tests Workflow (reusable)

env:
  E2E_LOG_LEVEL: debug
  KYMA_STABILITY: "unstable"
  KYMA: "./hack/kyma"
  DOCKER_IMAGE_REPO: "europe-docker.pkg.dev/kyma-project/prod/eventing-manager"
  DOCKER_IMAGE_REPO_DEV: "europe-docker.pkg.dev/kyma-project/dev/eventing-manager"

on:
  workflow_call:
    inputs:
      pre-upgrade-image-tag:
        required: true
        type: string
        description: "The image tag of the Eventing Manager before the upgrade"
      post-upgrade-image-tag:
        required: true
        type: string
        description: "The image tag of the Eventing Manager after the upgrade"
      build-job-name:
        type: string
        description: "The name of the build job to wait for"
      commit-sha:
        type: string
        description: "The commit sha of the new version"
        required: true

# For example,
# PR:             main -> PR
# main: latest release -> main

jobs:
  e2e-upgrade: # This job tests the upgrade of Eventing module from the latest image of the main branch to the current commit.
    runs-on: ubuntu-latest
    env:
      BACKEND_TYPE: NATS
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.pre-upgrade-image-tag }}

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Install k3d tools
        run: make -C hack/ci/ install-k3d-tools

      - name: Install Kyma CLI & setup k3d cluster using Kyma CLI
        run: |
          make kyma
          make -C hack/ci/ create-k3d
          kubectl version
          kubectl cluster-info

      - name: Create kyma-system namespace
        run: |
          make -C hack/ci/ create-kyma-system-ns

      - name: Install the latest released NATS manager
        run: |
          kubectl apply -f https://github.com/kyma-project/nats-manager/releases/latest/download/nats-manager.yaml
          kubectl apply -f https://github.com/kyma-project/nats-manager/releases/latest/download/nats-default-cr.yaml

      - name: Wait for NATS module to be ready
        run: |
          make -C hack/ci/ wait-nats-cr-ready

      - name: Install Eventing manager before upgrade
        run: |
          pre_upgrade_image=$DOCKER_IMAGE_REPO:${{ inputs.pre-upgrade-image-tag }}
          echo "Pre-upgrade image: $pre_upgrade_image"
          make deploy IMG=$pre_upgrade_image

      - name: Create test resources and wait for eventing CR readiness
        run: |
          export MANAGER_IMAGE=$DOCKER_IMAGE_REPO:${{ inputs.pre-upgrade-image-tag }}
          make e2e-setup
          make e2e-eventing-setup

      - name: Wait for the ${{ inputs.build-job-name }} job to succeed
        if: ${{ inputs.build-job-name != '' }}
        uses: kyma-project/wait-for-commit-status-action@2b3ffe09af8b6f40e1213d5fb7f91a7bd41ffb20
        with:
          context: ${{ inputs.build-job-name }}
          commit_ref: "${{ inputs.commit-sha }}"
          timeout: 600000 # 10 minutes in milliseconds
          # The check interval is kept long otherwise it will exhaust the GitHub rate limit (More info: https://docs.github.com/en/rest/overview/resources-in-the-rest-api?apiVersion=2022-11-28#rate-limiting)
          check_interval: 60000 # 1 minute in milliseconds
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          GITHUB_OWNER: "${{ github.repository_owner }}"
          GITHUB_REPO: "eventing-manager"

      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.commit-sha }}

      - name: Upgrade Eventing manager
        id: upgrade-eventing-manager
        run: |
          if [[ ${{ inputs.post-upgrade-image-tag }} == PR* ]]; then
            post_upgrade_image=$DOCKER_IMAGE_REPO_DEV:${{ inputs.post-upgrade-image-tag }}
          else
            post_upgrade_image=$DOCKER_IMAGE_REPO:${{ inputs.post-upgrade-image-tag }}
          fi
          echo "Post-upgrade image: $post_upgrade_image"
          make deploy IMG=$post_upgrade_image
          echo "post_upgrade_image=$post_upgrade_image" >> "$GITHUB_OUTPUT"

      - name: Create test resources and waits for eventing CR readiness
        run: |
          export MANAGER_IMAGE=${{ steps.upgrade-eventing-manager.outputs.post_upgrade_image }}
          make e2e-setup

      - name: Run e2e tests
        run: |
          make e2e-eventing

      - name: Cleanup test resources
        run: |
          make e2e-eventing-cleanup
          make e2e-cleanup
