name: e2e-without-lifecycle-manager

env:
  KYMA_STABILITY: "unstable"
  KYMA: "./hack/kyma"
  MANAGER_IMAGE: europe-docker.pkg.dev/kyma-project/dev/eventing-manager:PR-${{ github.event.number }}

on:
  pull_request:
    branches:
      - main
      - "release-*"
    paths-ignore:
      - "docs/**"
      - "**.md"
      - "sec-scanners-config.yaml"
  pull_request_target:
    branches:
      - main
      - "release-*"
    paths-ignore:
      - "docs/**"
      - "**.md"
      - "sec-scanners-config.yaml"

jobs:
  wait-until-build-succeeds:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - name: Wait for the 'pull-eventing-manager-build' job to succeed
        uses: kyma-project/wait-for-commit-status-action@2b3ffe09af8b6f40e1213d5fb7f91a7bd41ffb20
        with:
          context: "pull-eventing-manager-build"
          commit_ref: "${{ github.event.pull_request.head.sha }}" # Note: 'github.event.pull_request.head.sha' is not same as 'github.sha' on pull requests.
          timeout: 600000 # 10 minutes in milliseconds
          # The check interval is kept long otherwise it will exhaust the GitHub rate limit (More info: https://docs.github.com/en/rest/overview/resources-in-the-rest-api?apiVersion=2022-11-28#rate-limiting)
          check_interval: 60000 # 1 minute in milliseconds
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          GITHUB_OWNER: "${{ github.repository_owner }}"
          GITHUB_REPO: "eventing-manager"

  nats:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    needs: wait-until-build-succeeds

    steps:
      - uses: actions/checkout@v4

      - name: Cache Binaries
        id: cache-binaries
        uses: actions/cache@v3
        with:
          path: bin
          key: ${{ runner.os }}-bin

      - name: Install k3d tools
        run: |
          make -C hack/ci/ install-k3d-tools


      - name: Install Kyma CLI & setup k3d cluster using kyma CLI
        run: |
          make kyma
          make -C hack/ci/ create-k3d
          kubectl version
          kubectl cluster-info

      - name: Install eventing-manager
        run: |
          make install IMG=$MANAGER_IMAGE

      - name: Deploy the controller to the cluster
        run: |
          kubectl create ns kyma-system || true
          make deploy IMG=$MANAGER_IMAGE

      - name: Setup NATS
        run: |
          make -C hack/ci/ install-nats-module

      - name: Setup and test the eventing-manager
        run: |
          make e2e-setup

      - name: Setup eventing
        run: |
          make e2e-eventing-setup

      - name: Test eventing
        run: |
          make e2e-eventing

      - name: Test eventing cleanup
        run: |
          make e2e-cleanup

      - name: On error get NATS CR
        if: failure()
        run: |
          kubectl get nats -n kyma-system -o yaml

      - name: On error get eventing CR
        if: failure()
        run: |
          kubectl get eventing -n kyma-system -o yaml

  PeerAuthentication:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    needs: wait-until-build-succeeds

    steps:
      - uses: actions/checkout@v4

      - name: Install k3d tools
        run: |
          make -C hack/ci/ install-k3d-tools

      - name: Install Kyma CLI & setup k3d cluster using kyma CLI
        run: |
          make kyma
          make -C hack/ci/ create-k3d
          kubectl version
          kubectl cluster-info

      - name: Install PeerAuthentication CRD
        run: |
          make -C hack/ci/ apply-peerauthentication-crd

      - name: Install eventing-manager
        run: |
          make install IMG=$MANAGER_IMAGE

      - name: Deploy the controller to the cluster
        run: |
          kubectl create ns kyma-system || true
          make deploy IMG=$MANAGER_IMAGE

      - name: Test if the PeerAuthentications are created correctly
        run: |
          make e2e-eventing-peerauthentications

      - name: On error get all PeerAuthentications
        if: failure()
        run: |
          kubectl get peerauthentications.security.istio.io -A -o yaml

  backend-switching:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request_target'
    needs: wait-until-build-succeeds

    steps:
      - uses: actions/checkout@v4

      - name: Cache Binaries
        id: cache-binaries
        uses: actions/cache@v3
        with:
          path: bin
          key: ${{ runner.os }}-bin

      - name: Install Kyma CLI
        run: |
          echo ${TUNAS_TEST_1} > hello.txt
          cat hello.txt
