name: post-e2e-upgrade-test

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - 'docs/**'
      - '**.md'
      - 'sec-scanners-config.yaml'
      - CODEOWNERS
      - LICENSE
      - LICENSES
      - OWNERS
      - OWNERS_ALIASES
      - PROJECT

jobs:
  get-latest-release:
    runs-on: ubuntu-latest
    outputs:
      latest_release_tag: ${{ steps.get-latest-release-tag.outputs.latest_release_tag }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Get latest release tag
        id: get-latest-release-tag
        run: |
          echo "latest_release_tag=$(curl -s https://api.github.com/repos/kyma-project/eventing-manager/releases/latest | jq -r '.tag_name')" >> "$GITHUB_OUTPUT"

  wait-until-build-succeeds:
    uses: "kyma-project/eventing-tools/.github/workflows/wait-build-reusable.yml@main"
    with:
      repository: ${{ github.repository_owner }}/eventing-manager
      git_ref: ${{ github.sha }}
      git_check_run_name: "build / Build image"

  upgrade-test:
    uses: ./.github/workflows/e2e-upgrade-test-reusable.yaml
    needs: [get-latest-release, wait-until-build-succeeds]
    with:
      pre-upgrade-image-tag: ${{ needs.get-latest-release.outputs.latest_release_tag }}
      post-upgrade-image-tag: main
      commit-sha: ${{ github.sha }}
    secrets: inherit
