name: post-e2e-upgrade-test

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - 'docs/**'
      - '**.md'
      - 'sec-scanners-config.yaml'

jobs:
  get-latest-release:
    runs-on: ubuntu-latest
    outputs:
      latest_release_tag: ${{ steps.get-latest-release-tag.outputs.latest_release_tag }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Get latest release tag
        id: get-latest-release-tag
        run: |
          echo "latest_release_tag=$(curl -s https://api.github.com/repos/kyma-project/eventing-manager/releases/latest | jq -r '.tag_name')" >> "$GITHUB_OUTPUT"

  upgrade-test:
    uses: ./.github/workflows/upgrade-tests-reusable.yaml
    needs: get-latest-release
    with:
      pre-upgrade-image-tag: ${{ needs.get-latest-release.outputs.latest_release_tag }}
      post-upgrade-image-tag: main
      build-job-name: push-eventing-manager-build
      build-job-commit-sha: ${{ github.sha }}
    secrets: inherit
