name: test

env:
  KYMA_STABILITY: "unstable"
  KYMA: "./hack/kyma"

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - 'docs/**'
      - '**.md'
      - 'sec-scanners-config.yaml'
  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - 'docs/**'
      - '**.md'
      - 'sec-scanners-config.yaml'

jobs:
  unit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: '1.21'
          cache: false
      - name: Sync GO dependencies
        run: |
          go mod tidy
          go mod vendor
      - name: Run tests
        run: |
          make test-only
