name: validate

env:
  KYMA_STABILITY: "unstable"
  KYMA: "./hack/kyma"

on:
  push:
    branches: [ "main" ]
    paths:
      - 'api/**'
      - 'config/crd/**'
    paths-ignore:
      - 'docs/**'
      - '**.md'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'api/**'
      - 'config/crd/**'
    paths-ignore:
      - 'docs/**'
      - '**.md'

jobs:
  crd:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install k3d tools
        run: |
          make -C hack/ci/ install-k3d-tools

      - name: Install Kyma CLI & setup k3d cluster using kyma CLI
        run: |
          make kyma
          make -C hack/ci/ create-k3d
          kubectl version
          kubectl cluster-info

      - name: apply crd
        run: kubectl apply -f config/crd/bases/operator.kyma-project.io_eventings.yaml
